html, body{
  height: 100%;
  overflow: hidden;
}

body{
    margin: 0px;
    padding: 0px;

    user-select: none;
    background-color: rgb(0, 0, 0);

    display: flex;
    flex-direction: column;
}

#Container{
    background-color: rgb(46, 46, 46);
    margin: 0px;
    padding: 0px;
    border: none;
    display: flex;
    flex: 1;
}

html {
  scroll-behavior: smooth;
}
